@using PersonalWebsite.Components.Shared

<div class="min-h-screen flex flex-col justify-center items-center bg-background p-8">
    <div class="text-center">
        <h2 class="font-accent text-3xl md:text-5xl lg:text-7xl py-5 font-bold text-accent1">Vinz Myko Del Rosario</h2>
        <h3 class="font-secondary text-xl md:text-2xl py-3 text-link">.NET Developer &amp; Software Engineer</h3>
        <p class="font-primary text-lg py-4 leading-7 text-text max-w-lg mx-auto">
            Crafting innovative .NET and C# solutions. Driven by curiosity and a passion for transforming ideas into reality.
        </p>
        
        <div class="text-4xl flex justify-center gap-12 py-3 text-link">
            <a href="https://github.com/vinzmyko" target="_blank">
                <Icon Class="text-link hover:text-accent2 transition-colors duration-300" FileName="github" Width="40" Height="40" />
            </a>
            <a href="https://www.linkedin.com/in/vinzmyko/" target="_blank">
                <Icon Class="text-link hover:text-accent2 transition-colors duration-300" FileName="linkedin" Width="40" Height="40" />
            </a>
        </div>
    </div>
</div>