@namespace Projects

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @foreach (var project in Projects)
    {
        <ProjectCard @key="project.Name" Project="project" />
    }
</div>

@code {
    [Parameter] public List<Project> Projects { get; set; } = new List<Project>();
}